/* html * {
  border: solid white 1px
} */

body {
  background-color: #050505;
}

#start,
#stop,
#reset,
#set,
#left,
#right,
#center {
  padding: 0.5rem 1rem;

  margin-top: 0.4rem;
  min-width: 5.4rem;
  background-color: rgba(102, 51, 153, 0.13);
  color: #aaa;
  border: solid 1px rgba(102, 51, 153, 0.479);
}

#start:hover,
#stop:hover,
#reset:hover,
#set:hover,
#left:hover,
#right:hover,
#center:hover {
  background-color: rgba(102, 51, 153, 0.377);
  cursor: pointer;
}

#start:disabled,
#stop:disabled,
#set:disabled {
  color: #99999938;
  background-color: rgba(102, 51, 153, 0.027);
  border: solid 1px rgba(102, 51, 153, 0.322);
  cursor: default;
}

#left,
#right,
#center {
  margin-top: 3rem;
  background-color: rgba(102, 51, 153, 0);
}

#set {
  display: block;
}

#reset {
  margin-top: 2rem;
}


form {
  margin-top: 3rem;
}

p {
  color: #aaa;
}

input {
  margin-bottom: 1rem;
  width: 5rem;
  background-color: rgba(102, 51, 153, 0.048);
  border: solid 1px rgba(102, 51, 153, 0.322);
  border-radius: 5px;
  height: 1.8rem;
  color: #aaa;
  padding-left: 0.3rem;
}

.centered {
  justify-content: center;
  align-items: center;
}

.left-sided {
  justify-content: start;
}

.right-sided {
  justify-content: end;
}
.right-sided .time {
  text-align: right;
  position: relative;
}
.left-sided .time {
  text-align: left;
}

.right-sided .container {
  text-align: right;
}
.right-sided .buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: right;
}

.screen {
  display: flex;
  width: 100%;
  min-height: 90vh;
}
.container {
  width: fit-content;
  max-width: 5.4rem;
}

footer {
  display: flex;
  justify-content: space-between;
}

.time {
  text-align: center;
 
}

.centered h1 {
  margin-bottom: 3rem;
  height: 3.4rem;
  transform: scale(3);
  z-index: -10;
  
}

.centered .container {
  position: relative;
  top: 2rem;
}

.left-sided h1 {
  height: 3.4rem;
}
.right-sided h1 {
  height: 3.4rem;
}